*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    width: 100%;
}
/* css2 start */

/* css2 end */


.movement{
    color: white;
    width: 300px;
    height: 500px;
    background-color: coral;
}
.movement2{
    color: white;
    width: 280px;
    height: 400px;
    background-color: coral;
}
.movement3{
    color: white;
    /* width: 280px;
    height: 400px; */
    background-color: coral;
}
.center{
    width: 254px;
     height: 254px; 
     display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%; 
}
.footer{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.spacing1 {

    height: 100px;
    width: 100%;
    padding: 15px 0;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;

}
.spacing2 {

  height: 100px;
    width: 100%;
    padding: 15px 0;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;



}

.spacing3 {
  
    height: 100px;
    width: 110%;
    padding: 15px 0;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;

}
.spacing4 {

    height:110px;
    width: 100%;
    padding: 15px 0;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;

  
} 
.spacing5{

    height:20px;
    width: 100%;
    padding: 15px 0;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;

  
} 
.column-right{
    color: #000;
}


 /* new */
 .include-all{width: 100%;
    margin-left: auto;
      margin-right: auto;
  }

 .navbar{                                                         
    background-color: black ;
    position: fixed;
     font-family: sans-serif;
     opacity: 0.8;
     width: 100%;
    
     padding: 15px 0;
     z-index: 100;
     top: 0;
     left: 0;
     right: 0;
 
 }

 
 .title {
     text-align: center;
 }
 
 
 .navbar .menu li a{
     color:  white;
     font-size: 20px;
     font-weight: 500;
     margin-left: 25px;
     transition: 0.3 ease;
   }
  
 
   .navbar .menu li{
       color: #fff;
       display: inline-block;
       font-weight: 500;
       margin-left: 20px;
   }
 
 .navbar .logo a{
     color: #fff;
     font-size: 30px;
     font-weight: 600;
 }
 
 .navbar .logo a span{
     color: green;
 }
 
 .navbar .max-width{
    
     height: 50px;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 .navbar .menu li a:hover{
    color:green;
}
a:hover{
    color: green;
}
a{
    color:white;
}
.home{
    
    background:url(pics/image1.webp) no-repeat;
   background-position: center center;
   background-size: cover; 
   display: flex;
   height: 100vh;
   color: white;
 }
 .max-width{
     margin-top: 20px;
   
      text-align: center;
      justify-content: center;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    .max-width img{
        border-radius: 4px 4px 4px 4px;
    }

.text-1 {
 text-align: center;
    background-color: black;
    opacity: 0.8;
   width: 80%;
   
   margin-right: auto;



   border-radius:  10px 10px 10px 10px;
}
.sethu img{
    width: 400px;
    height: 400px;
}

h1{
    color:whitesmoke; 
}
h4{
    color: white;
    font-weight: 100;
}
p{
    color: black;
    
}
.image{
   text-align: center;
   justify-content: center;
}

.home .max-width{
 margin-left: 0;
 margin-right: 0;
   margin: auto 0 auto 40px;
}
.home-content{
   color:white;
   margin-top: 310px;
   margin-left: 100px;
}
.max-widths{
    width: 100%;


}
.row{
    width: 98%;
    margin-left: auto;
    margin-right: auto;

}


/* @media Queries */
    

@media (max-width: 600px){
    .include-all{
        width: 100%;
    margin-left: auto;
    margin-right:auto;}


    /* .text-1 {
       width: 180px;
        background-color: black;
        font-size: smaller;

     
    
       border-radius:  10px 10px 10px 10px;
    } */
    .row{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
  
      
       
      
    .navbar .menu li a{
        color:  white;
        font-size:10px;
        font-weight: 500;
        margin-left: 25px;
        transition: 0.3 ease;
      }
    .navbar .logo a{
        color: #fff;
        font-size: 12px;
        font-weight: 600;
    }
    .navbar {
     width: 100%;
        margin-left: auto;
        margin-right: auto;

    }
    
    h1{
        text-align: left;
    }
    .sethu img{
        width: 200px;
        height: 200px;
    }
    .footer{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .contacts{
        width: 100%;
        margin-left: auto;
        margin-right: auto;

    }

}

 

 




